.best-services{
    background: #f9f9f9;
    margin-bottom: 52px;
}
.txt{
    text-align: center;
    padding: 22px 228px;
}
.span{
    color: #5bbc2e;
}
.txt h2{
    color: #5bbc2e;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 50px;
}
.txt p{
    color: #515151;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    letter-spacing: 0.5px;
}
.items{
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.item{
    width: 24.4444%;
    padding: 0;
    color: #fff;
    margin-bottom: 70px;
}
.inner{
    padding: 37px 20px;
    height: 100%;
}
.item p{
    color: #515151;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.item h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #5bbc2e;
}
.item h4 a::before{
    content: "";
    width: 50px;
    height: 47px;
    display: block;
    margin: 0 auto 20px;
    background-repeat: no-repeat;
}
i{
    font-size: 50px;
    color: #5bbc2e;
}

