.AboutTxt{
    margin: 60px 0px 40px 0px;
    padding: 0px 50px;
    text-align: center;
}
.AboutTxt h3{
    color: #5bbc2e;
}
.AboutTxt p{
    color: #515151;
}
.contact{
    background: #f26c4f;
    padding: 10px 90px;
    padding-right: 667px;
    padding-bottom: 160px;
}
.contact h3{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 45px;
}
.contact p{
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.btn{
    color: #f26c4f;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 72px;
    background: #fff;
    border: none;
}