.container{
    min-width: 320px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.block-1{
    padding: 84px 2px;
    width: 580px;
    float: left;
    margin-bottom: 24px;
}
.block-1 h2{
    color: #153f60;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    line-height: 50px;
    text-transform: uppercase;
}
.block-1 p{
    color: #153f60;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}
.block-2{
    background: #f26c4f;
    padding: 93px 57px;
    width: 500px;
    min-height: 535px;
    float: right;
}
.block-2 h2{
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.block-2 p{
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 23px;
}
img{
    width: 1300px;
    height: 480px;
}
